Repository neondoll/bubble-reading-sequence: changes, and which GitLab CI jobs are due for each by the changed paths.
All: composer_install, npm_install, run_migrate, build_front

composer_install:
  stage: install
  script:
  - scp -P $PORT composer.{json,lock} $DEPLOY_USER@$DEST_SERVER:$DEST_PATH
  - ssh -p$PORT $DEPLOY_USER@$DEST_SERVER "set -x &&cd $DEST_PATH &&composer install"

npm_install:
  stage: install
  script:
  - ssh -p$PORT $DEPLOY_USER@$DEST_SERVER "set -x &&cd $DEST_PATH &&npm install"

run_migrate:
  stage: migrate
  script:
  - 'ssh -p$PORT $DEPLOY_USER@$DEST_SERVER "set -x && /usr/bin/php $DEST_PATH/artisan migrate --force"
  
    '

build_front:
  stage: build
  script:
  - ssh -p$PORT $DEPLOY_USER@$DEST_SERVER "set -x &&cd $DEST_PATH &&npm run prod"

update
  composer.lock
  package-lock.json
  resources/js/components/pages/Login/index.vue
Due: composer_install, npm_install, build_front

update
  resources/js/components/App.vue
Due: build_front

update
  app/Http/Controllers/Auth/LoginController.php
Due: none

update
  resources/js/components/pages/Login/index.vue
Due: build_front

update
  resources/js/components/organisms/NBreadcrumbs/index.vue
  resources/js/components/templates/NPage/index.vue
Due: build_front

update
  resources/js/components/organisms/NBreadcrumbs/index.vue
Due: build_front

update
  resources/js/components/pages/MainPage/index.vue
Due: build_front

update
  resources/js/components/pages/GeneratorReports/index.vue
Due: build_front

update
  resources/js/components/organisms/NCardSite/index.vue
  resources/js/components/pages/GeneratorReports/index.vue
Due: build_front

first commit
  .idea/.gitignore
  .idea/bubble-reading-sequence.iml
  .idea/jsLibraryMappings.xml
  .idea/modules.xml
  .idea/php.xml
  .idea/vcs.xml
  data/bubble-comics-data.json
  index.html
Due: none

feat: development
  .idea/vcs.xml
  .idea/workspace.xml
  config/webpack.prod.js
  index.html
  package-lock.json
  package.json
  public/js/main.a55ddfe46b652290725a.bundle.js
  public/js/main.bundle.js
  public/js/main.d37e08e9224a37f4be3b.bundle.js
  public/js/runtime.bundle.js
  resources/layouts/template.html
Due: npm_install

feat: pause
  .babelrc
  .gitignore
  .idea/.gitignore
  .idea/modules.xml
  .idea/workspace.xml
  .vscode/extensions.json
  README.md
  app.html
  config/paths.js
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  data/bubble-comics-data.json
  index.html
  package-lock.json
  package.json
  postcss.config.js
  public/js/main.a55ddfe46b652290725a.bundle.js
  public/js/main.bundle.js
  public/js/runtime.b85a037c620e7cd2ac12.bundle.js
  public/js/runtime.bundle.js
  public/vite.svg
  resources/js/index.js
  resources/layouts/template.html
  resources/sass/app.scss
  src/App.vue
  src/NetworkGraph.vue
  src/assets/vue.svg
  src/components/HelloWorld.vue
  src/data_poviders/bubble-comics-data.js
  src/main.js
  src/style.css
  vite.config.js
Due: npm_install, build_front

feat: pause
  .idea/workspace.xml
  package-lock.json
  package.json
  src/App.vue
  src/NetworkGraph.vue
  src/components/NetworkGraph.vue
  src/components/start/HelloWorld.vue
  src/components/start/ViteVue.vue
  src/data_poviders/bubble-comics-data.js
  src/data_poviders/bubble-comics-data.ts
  src/data_poviders/interfaces/Edge.ts
  src/data_poviders/interfaces/Node.ts
  src/main.js
  src/style.css
Due: npm_install

feat: pause
  src/data_poviders/bubble-comics-data.ts
Due: none

feat: pause
  index.html
  vite.config.js
Due: none

feat: before pull
  .idea/vcs.xml
  .idea/workspace.xml
Due: none

feat: pause
  .idea/workspace.xml
  src/data_poviders/bubble-comics-data.ts
Due: none

feat: pause
  .idea/workspace.xml
  src/components/NetworkGraph.vue
  src/data_poviders/bubble-comics-data.ts
Due: none

feat: pause
  .idea/workspace.xml
  src/components/NetworkGraph.vue
  src/components/atoms/NodeLabel.vue
  src/data/colors.ts
  src/data/edges.ts
  src/data/index.ts
  src/data/layouts.ts
  src/data/nodes.ts
  src/data/paths.ts
  src/data/sizes.ts
  src/data_poviders/bubble-comics-data.ts
  src/interfaces/Edge.ts
  src/interfaces/Node.ts
Due: none

feat: pause
  .idea/workspace.xml
  package-lock.json
  src/components/NetworkGraph.vue
  src/data/edges.ts
  src/data/layouts.ts
  src/data/nodes.ts
  src/interfaces/Edge.ts
  src/interfaces/Node.ts
Due: npm_install

feat: pause
  .idea/workspace.xml
  src/components/NetworkGraph.vue
  src/data/colors.ts
  src/data/edges.ts
  src/data/layouts.ts
  src/data/nodes.ts
  src/style.css
Due: none

feat: pause
  .idea/workspace.xml
  src/data/edges.ts
  src/data/layouts.ts
  src/data/nodes.ts
Due: none

feat: pause
  .idea/workspace.xml
  src/data/colors.ts
  src/data/edges.ts
  src/data/layouts.ts
  src/data/nodes.ts
  src/data/sizes.ts
Due: none

feat: pause
  .idea/workspace.xml
  package-lock.json
  src/data/colors.ts
  src/data/edges.ts
  src/data/layouts.ts
  src/data/nodes.ts
Due: npm_install

feat: pause
  .idea/workspace.xml
  src/data/colors.ts
  src/data/edges.ts
  src/data/layouts.ts
  src/data/nodes.ts
Due: none

feat: pause
  .idea/workspace.xml
  package-lock.json
  src/data/color_functions.ts
  src/data/colors.ts
  src/data/edges.ts
  src/data/layouts.ts
  src/data/nodes.ts
  src/data/ranges.ts
  src/interfaces/Range.ts
Due: npm_install

feat: pause
  .idea/workspace.xml
  package-lock.json
  src/components/NetworkGraph.vue
  src/data/comics.ts
  src/data/ranges.ts
  src/data/v-network-graph.ts
  src/interfaces/Range.ts
  src/interfaces/index.ts
Due: npm_install

feat: pause
  .idea/workspace.xml
  src/data/color_functions.ts
  src/data/comics.ts
  src/data/v-network-graph.ts
Due: none

feat: pause
  .idea/workspace.xml
  package-lock.json
  src/data/comics.ts
  src/data/ranges.ts
  src/data/sizes.ts
  src/data/v-network-graph.ts
  src/interfaces/index.ts
Due: npm_install

feat: pause
  .idea/workspace.xml
  package-lock.json
  src/data/comics.ts
  src/data/ranges.ts
  src/data/v-network-graph.ts
  src/interfaces/index.ts
Due: npm_install

feat: pause
  .idea/workspace.xml
  src/data/comics.ts
  src/data/functions/array_func.ts
  src/data/ranges.ts
  src/data/v-network-graph.ts
  src/interfaces/index.ts
Due: none

Path conditions:
  composer_install: any of: composer.json, composer.lock
  npm_install: any of: package.json, package-lock.json
  run_migrate: any of: database/migrations/*
  build_front: any of: resources/js/**/*
